.visually-hidden {
  @include visually-hidden;
}

@keyframes visually-hide {
  to {
    @include visually-hidden;
  }
}

@keyframes visually-unhide {
  from {
    @include visually-hidden;
  }
}

@keyframes appear {
  0% {
    @include visually-hidden;
    font-size: 1px;
    transform: scaleX(0);
    opacity: 0;
  }

  50% {
    font-size: 1px;
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }

  50% {
    font-size: 1px;
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    @include visually-hidden;
    font-size: 1px;
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes appear-scroll {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear-scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

