:root {
  --sidebar-width-closed: 7rem;
  --sidebar-width-opened: 100%;

  @media (min-width: calc(342px * 1.5)) {
    --sidebar-width-opened: 342px;
  }
}

$transition-time-basic: 3s;
$transition-function-basic: ease-in-out;
$transition-delay-basic: calc($transition-time-basic / 2);
$transition-basic: $transition-time-basic $transition-function-basic;
