/* stylelint-disable max-nesting-depth */
.header {
  display: flex;
  flex-direction: column;

  overflow: auto;
  container-type: inline-size;
  transition: width $transition-basic;

  @media (prefers-color-scheme: light) {
    background-color: rgba(255, 255, 255, 1);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(24, 24, 27, 1);
  }

  &--closed {
    width: var(--sidebar-width-closed);
  }

  &--opened {
    width: var(--sidebar-width-opened);
  }
}

.header__toggler-wrapper {
  margin-bottom: 32px;

  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  display: flex;

  @media (prefers-color-scheme: light) {
    background-color: rgba(249, 250, 251, 1);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(39, 39, 42, 1);
  }

  @container (width = 7rem) {
    padding-left: 24px;
    justify-content: center;
  }

  @container (width > 7rem) {
    padding-left: 32px;
    gap: 16px;
  }
}

.header__toggler {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 38px;
  height: 36px;
  border: none;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;

  &:hover::before {
    background-color: rgba(139, 92, 246, 1);
  }

  &:active::before {
    background-color: lighten(rgba(139, 92, 246, 1), 15);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;

    background-color: rgba(113, 113, 122, 1);
    mask-image: url("./../../images/icons/stack.svg#burger-menu");
    transition: background-color $transition-basic;
  }
}

.header__logo {
  display: block;
  animation: var(--animation-menu-content);
  transform-origin: left center;

  @container (width = 7rem) {
    @include visually-hidden;
  }
}

.header__search-form {
  margin-bottom: 16px;

  transition: margin $transition-basic;

  @container (width = 7rem) {
    margin-right: 31px;
    margin-left: 31px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}

.header__menu {
  margin-bottom: 24px;

  transition: margin $transition-basic;

  @container (width = 7rem) {
    margin-right: 31px;
    margin-left: 31px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}

.header__button {
  margin-top: auto;
  margin-bottom: 24px;

  @container (width = 7rem) {
    margin-right: 33px;
    margin-left: 33px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}
