/* stylelint-disable max-nesting-depth */
.header {
  display: flex;
  flex-direction: column;

  overflow: auto;
  outline: auto;
  container-type: inline-size;

  @media (prefers-color-scheme: light) {
    background-color: #FFFFFF;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #18181B;
  }

  &--closed {
    width: var(--sidebar-width-closed);
  }

  &--opened {
    width: var(--sidebar-width-opened);
  }
}

.header__toggler-wrapper {
  margin-bottom: 32px;

  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 24px;

  display: flex;
  gap: 16px;

  @media (prefers-color-scheme: light) {
    background-color: #F9FAFB;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #27272A;
  }

  @container (width = 7rem) {
    padding-left: 30px;
  }

  @container (width > 7rem) {
    padding-left: 32px;
  }
}

.header__toggler {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 38px;
  height: 36px;
  border: none;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #71717A;
    mask-image: url("./../../images/icons/stack.svg#burger-menu");
  }
}

.header__logo {
  @container (width = 7rem) {
    display: none;
  }

  @container (width > 7rem) {
    display: block;
  }
}

.header__search-form {
  margin-bottom: 16px;

  @container (width = 7rem) {
    margin-right: 31px;
    margin-left: 31px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}

.header__menu {
  margin-bottom: 24px;

  @container (width = 7rem) {
    margin-right: 31px;
    margin-left: 31px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}

.header__button {
  margin-top: auto;
  margin-bottom: 24px;

  @container (width = 7rem) {
    margin-right: 31px;
    margin-left: 31px;
  }

  @container (width > 7rem) {
    margin-right: 24px;
    margin-left: 24px;
  }
}
