.menu {
  position: relative;
  scrollbar-width: none;

  overflow: auto;
}

.menu__scroll-icon {
  position: sticky;
  z-index: 1;
  left: 0;
  right: 0;
  display: none;

  @media (prefers-color-scheme: light) {
    color: rgba(255, 255, 255, 0.7);
  }

  @media (prefers-color-scheme: dark) {
    color: rgba(24, 24, 27, 0.7);
  }

  &--position-top {
    top: 0;
    box-shadow: 0 26px 8px 8px currentColor;
  }

  &--position-bottom {
    bottom: 0;
    box-shadow: 0 -26px 8px 8px currentColor;
  }

  &--position-top::before,
  &--position-top::after {
    top: 0;
  }

  &--position-bottom::before,
  &--position-bottom::after {
    bottom: 0;
    transform: rotate(180deg);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    height: 26px;
  }

  &::before {
    background-color: currentColor;
  }

  &::after {
    mask-image: url("./../../images/icons/stack.svg#arrow-up");

    @media (prefers-color-scheme: light) {
      background-color: rgba(161, 161, 170, 1);
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgba(113, 113, 122, 1);
    }
  }
}

.menu__list {
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: none;

  &--type-sublist {
    animation: var(--animation);
    
    @container (width = 7rem) {
      @include visually-hidden;
    }
  }
}

.menu__link {
  position: relative;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-radius: 4px;

  display: flex;
  gap: 8px;
  align-items: center;

  cursor: pointer;

  @container (width = 7rem) {
    padding-left: 8px;
  }

  @container (width > 7rem) {
    padding-left: 16px;
  }


  &:hover {
    color: rgba(139, 92, 246, 1);
  }

  &:active {
    color: lighten(rgba(139, 92, 246, 1), 15);
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  &--is-current {
    @media (prefers-color-scheme: light) {
      color: rgba(124, 58, 237, 1);
      background-color: rgba(237, 233, 254, 1);
    }

    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(63, 63, 70, 1);
    }
  }

  &--icon-home {
    --icon-url: url("../../images/icons/stack.svg#home");
  }

  &--icon-inbox {
    --icon-url: url("../../images/icons/stack.svg#inbox");
  }

  &--icon-tasks {
    --icon-url: url("../../images/icons/stack.svg#tasks");
  }

  &--icon-activity {
    --icon-url: url("../../images/icons/stack.svg#activity");
  }

  &--icon-team {
    --icon-url: url("../../images/icons/stack.svg#team");
  }

  &--icon-projects {
    --icon-url: url("../../images/icons/stack.svg#projects");
  }

  &--type-subtitle {
    @container (width > 7rem) {
      margin-bottom: 8px;
    }
  }

  &--type-project::before {
    content: "";

    width: 8px;
    height: 8px;
    border-radius: 2px;

    flex-shrink: 0;

    // Необходимо устновить цвет через JS из атрибута data-bookmark-color
    // В светлом будущем это можно будет сделать через attr(data-bookmark-color)
    background-color: var(--icon-color, rgba(139, 92, 246, 1));
  }

  &:not(.menu__link--type-project)::before {
    content: "";

    width: 20px;
    height: 20px;
    flex-shrink: 0;

    mask-image: var(--icon-url);

    @media (prefers-color-scheme: light) {
      background-color: rgba(161, 161, 170, 1);
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgba(113, 113, 122, 1);
    }
  }

  &:hover:not(.menu__link--type-project)::before,
  &:active:not(.menu__link--type-project)::before {
    background-color: currentColor;
  }

  &--is-current:not(.menu__link--type-project)::before {
    background-color: currentColor;
  }
}

.menu__link-text {
  display: block;
  line-height: 1.43rem;
  animation: var(--animation);

  @container (width = 7rem) {
    @include visually-hidden;
  }
}

.menu__counter {
  border-radius: 50%;

  background-color: rgba(139, 92, 246, 1);

  @container (width = 7rem) {
    position: absolute;
    top: 6px;
    right: 1px;

    width: 8px;
    height: 8px;
  }

  @container (width > 7rem) {
    margin-left: auto;
    margin-right: 8px;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu__count-number {
  @container (width = 7rem) {
    font-size: 0;
  }

  @container (width > 7rem) {
    font-size: 0.71rem;
    font-weight: 700;
    line-height: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}

.menu__divider {
  margin-top: 23px;
  margin-bottom: 23px;

  width: 100%;
  height: 2px;

  @media (prefers-color-scheme: light) {
    background-color: rgba(229, 231, 235, 1);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(39, 39, 42, 1);
  }
}
