.search-form {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 8px;
    bottom: 8px;

    width: 20px;
    height: 20px;
    mask-image: url("./../../images/icons/stack.svg#search");

    transition:
      transform $transition-basic,
      background-color $transition-basic,
      left $transition-basic,;

    @container (width = 7rem) {
      left: 8px;

      transform: scale(1);
    }

    @container (width > 7rem) {
      left: 16px;

      transform: scale(0.8);
    }

    @media (prefers-color-scheme: light) {
      background-color: rgba(113, 113, 122, 1);

      /* stylelint-disable-next-line max-nesting-depth */
      @container (width > 7rem) {
        background-color: rgba(212, 212, 216, 1);
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgba(113, 113, 122, 1);
    }
  }
}

.search-form__input {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  height: 36px;
  border: 1px solid;
  border-radius: 4px;

  display: flex;
  gap: 8px;

  background-color: transparent;

  @container (width = 7rem) {
    width: 36px;
    padding-left: 8px;
  }

  @container (width > 7rem) {
    width: 100%;
    padding-left: 40px;
  }

  @media (prefers-color-scheme: light) {
    border-color: rgba(209, 213, 219, 1);
    color: rgba(82, 82, 91, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  }

  @media (prefers-color-scheme: dark) {
    border-color: rgba(63, 63, 70, 1);
    color: rgba(255, 255, 255, 1);
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      border-color: darken(#d1d5db, 15);
    }

    @media (prefers-color-scheme: dark) {
      border-color: lighten(#3f3f46, 15);
    }
  }

  &::placeholder {
    font-weight: 400;
    line-height: 1.43rem;
    text-align: left;

    @container (width = 7rem) {
      opacity: 0;
    }

    @container (width > 7rem) {
      opacity: 1;
    }

    @media (prefers-color-scheme: light) {
      color: rgba(161, 161, 170, 1);
    }

    @media (prefers-color-scheme: dark) {
      color: rgba(113, 113, 122, 1);
    }
  }
}
